<%- include ('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <h3>*Las reservas son en el día entre las 10:00 am hasta las 23:30pm.<br>
        *Tolerancia máxima: 10 min.</h3>
        <% if(locals.error) {%>
            <p><%=locals.error%></p>
        <% } else if(locals.success) {%>
            <p><%=locals.success%></p>
            <% } %>
        <section class="container">
                <div class="first-column">
                   <% if(reservations.length > 0){ %>
                            <% for( i = 0; i < 8; i++ ) { %>
                                <% var b = 0 %>
                                <% for( j = 0; j < reservations.length; j++ ) { %>
                                    <% if(tables[i].id == reservations[j].table_id) {%>
                                        <% b=1 %>
                                        <% } %>
                                <% } %>
                                <% if (b==1) { %>
                                    <p class="reserved"><%=tables[i].name %></p>
                                <% } else {%>
                                    <p class="free"><%=tables[i].name %></p>
                                <% } %>
                            <% } %>
                    <% } else {%>
                        <% for( i = 0; i < 8; i++ ) { %>
                                <p class="free"><%=tables[i].name %></p>
                        <% } %>
                        <% } %>
            </div>
            <div class="second-column">
                <input type="button" readonly value="Caja">
                <% if(reservations.length > 0){ %>
                    <% for( i = 8; i < 12; i++ ) { %>
                        <% var b = 0 %>
                        <% for( j = 0; j < reservations.length; j++ ) { %>
                            <% if(tables[i].id == reservations[j].table_id) {%>
                                <% b=1 %>
                                <% } %>
                        <% } %>
                        <% if (b==1) { %>
                            <p class="reserved"><%=tables[i].name %></p>
                        <% } else {%>
                            <p class="free"><%=tables[i].name %></p>
                        <% } %>
                    <% } %>
            <% } else {%>
                <% for( i = 8; i < 12; i++ ) { %>
                        <p class="free"><%=tables[i].name %></p>
                <% } %>
                <% } %>
            </div>
            <div class="third-column">
                <% if(reservations.length > 0){ %>
                    <% for( i = 12; i < 20; i++ ) { %>
                        <% var b = 0 %>
                        <% for( j = 0; j < reservations.length; j++ ) { %>
                            <% if(tables[i].id == reservations[j].table_id) {%>
                                <% b=1 %>
                                <% } %>
                        <% } %>
                        <% if (b==1) { %>
                            <p class="reserved"><%=tables[i].name %></p>
                        <% } else {%>
                            <p class="free"><%=tables[i].name %></p>
                        <% } %>
                    <% } %>
            <% } else {%>
                <% for( i = 12; i < 20; i++ ) { %>
                        <p class="free"><%=tables[i].name %></p>
                <% } %>
                <% } %>
            </div>

            
        </section>
        <section class="form-container"> 
        <form action="/reserve" method="post">
            <fieldset>
            <label for="table">Seleccionar mesa: </label>
            <input type="number" name="table" min="1" max="20" required>
        </fieldset>
        <fieldset>
            <label for="date">Hora de la reserva:</label>
            <input type="time" name="time" min="10:00" max="23:30" required>
        </fieldset>
        <fieldset>
            <label for="dni">DNI:</label>
            <input type="text" name="dni" required>
        </fieldset>
        <button type="submit">Reservar</button>
        </form>
    </section>
    </main> 
</body> 